.title{
    font-family: Verdana, Times, serif;
    font-weight:900;
    color:rgb(143, 22, 22);
    
}

iframe{
    margin-bottom: 0cm;
}



h2{
    font-style: oblique;
}

.lyrics{
    font-family: Tahoma, Times,serif;
    font-weight: 600;
    color: rgb(227, 51, 83);
    margin-top: 0cm;
}

pre{
    margin-top: 0pt;
}