html{
    color: black;
    background-color:blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

h1{
    text-align: center;
}
img{
    border: 20px;
    display: block;
    margin: auto;
    max-height: 500px;

}

